<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post"action="/InsertMessage">
        <!--
        homeAddress, college, profession, birthday, dormitory, main_id
        -->
        家庭住址<input type="text" value="" name="homeAddress"/>
        学院<input type="text" value="" name="college"/>
        专业<input type="text" value="" name="profession">
        生日<input type="date" value="" name="birthday">
        宿舍<input type="text" value="" name="dormitory">
        main_id<input type="text" value="" name="main_id">
        <input type="button" value="submit" name="提交">
    </form>
</div>
</body>
</html>